html,
body {
    overflow: hidden;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background: url('im/ron.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(10px);
    z-index: -1;
}


/* Заголовок */

h1 {
    font-size: 2.5em;
    color: #4A90E2;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


/* Основной контейнер квиза */

#quiz-container,
#end-screen {
    background-color: #ffffff;
    padding: 20px;
    width: 80%;
    max-width: 500px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    text-align: center;
    position: relative;
    z-index: 1;
}

.question {
    font-size: 1.25em;
    color: #333;
}

.answers {
    margin-top: 15px;
}


/* Стиль для кнопок с ответами */

button {
    background-color: #4A90E2;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 8px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #357ABD;
}

button:active {
    transform: scale(0.98);
}


/* Кнопка "Следующий вопрос" */

#next-question {
    margin-top: 20px;
    background-color: #357ABD;
}

#next-question:hover {
    background-color: #2b5c94;
}


/* Конечный экран с результатом */

#end-screen {
    display: none;
    margin-top: 20px;
}

#final-score {
    font-size: 1.5em;
    color: #4A90E2;
    font-weight: bold;
}

#feedback {
    font-size: 1.25em;
    margin-top: 10px;
    color: #333;
}

#restart-quiz {
    margin-top: 20px;
    background-color: #4A90E2;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

#restart-quiz:hover {
    background-color: #357ABD;
}

#restart-quiz:active {
    transform: scale(0.98);
}


/* Стили для отображения счёта */

.score {
    font-weight: bold;
    font-size: 1.25em;
    margin-top: 20px;
    color: #4A90E2;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}


/* мобилка */

@media (max-width: 600px) {
    h1 {
        font-size: 2em;
    }
    #quiz-container,
    #end-screen,
    .question,
    button {
        width: 100%;
    }
    .question {
        font-size: 1.1em;
    }
    #final-score {
        font-size: 1.25em;
    }
    #feedback {
        font-size: 1em;
    }
}